
.dynamic-form-container {
    padding: 8px;
    flex-direction: column;
    gap: 6px;
    display: flex
  }

  .dynamic-form-section {
    flex-direction: column;
    gap: 4px;
    display: flex;
  }

  .dynamic-form-title {
    font-size: 25px
  }

  .dynamic-form-fields {
    gap: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column
  }

  .dynamic-form-field-label {
    flex-direction: column;
    gap: 5px;
    display: flex;
  }

  .dynamic-form-description {
    font-size: 16px
  }