.dynamic-form-container {
    padding: 8px;
    flex-direction: column;
    gap: 16px;
    display: flex
  }

  .dynamic-form-section {
    flex-direction: column;
    gap: 4px;
    display: flex;
  }

  .dynamic-form-title {
    font-size: 25px;
    font-weight: 700;
  }

  .dynamic-form-fields {
    gap: 16px;
    padding: 10px;
    display: flex;
    flex-direction: column
  }

  .dynamic-form-field-label {
    flex-direction: column;
    gap: 5px;
    display: flex;
  }

  .dynamic-form-description {
    font-size: 14px;
  }

  .dynamic-form-head {
    font-size: 30px;
    font-weight: 800;
  }

  .dynamic-form-main-description {
    font-size: 17px;
    font-weight: 300;
  }

  .dynamic-form-field-title {
    font-size: 18px;
  }